.div1{
width: 300px;
background: blue;
padding: 10px;
text-align: center;
margin: auto;
}




.div2{
width: 300px;
background: #333;
padding: 10px;
text-align: justify;
color:#fff ;
margin: auto;
display: none;
}